.drop-content-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
    min-width: 720px;
    border-radius: 4px;
    padding: 10px 12px;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px 0px rgba(44, 80, 103, 0.4);
    overflow: visible;

    .filter-wrapper {
        overflow: visible;

        .filter-item-wrapper {
            // background-color: orange;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 2px 0px;
            margin-bottom: 4px;
            height: 32px;
            position: relative;
            overflow: visible;

            .filter-item-operator {
                width: 76px;
                margin-right: 12px;
                padding-left: 8px;
            }

            .filter-item.input {
                // background-color: lime;
                border: 1px solid rgb(200, 200, 200);
                border-radius: 0px 4px 4px 0px;
                height: 32px;
                margin-right: 12px;
                margin-top: 3px;
                width: 180px;
                display: flex;
                align-items: center;
                padding: 0px 8px;

                &:hover {
                    background-color: rgb(240, 240, 240);
                }
            }

            .filter-item.remove {
                padding-top: 4px;

            }

            [class*="icon-cancel-"] {
                font-size: 1.1em;
            }

            [class*="icon-cancel-"]:hover {
                color: red;
            }

            input {
                // background-color: orange;
            }

            ::placeholder {
                color: rgb(180, 180, 180);
                font-size: .96em;
            }
        }
    }

    .filter-actions {
        margin-top: 8px;
        // margin-left: 84px;
        display: flex;

        .filter-action-button {
            display: flex;
        }

        button {
            background-color: transparent;
            border: 1px solid transparent;
            // border: 1px solid rgb(225, 225, 225);
            margin: 4px 0px;
            margin-right: 8px;
            padding: 4px 6px;
            border-radius: 4px;

            span {
                color: #afafaf;
                font-size: .9em;
            }

            span.icon-add {
                position: relative;
                top: 2px;
                margin-right: 2px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        button:hover span {
            color: #727272;
            cursor: pointer;
        }
    }
}
