<!-- INNER Dropdown (Content) -->
<div id="test" class="drop-content-container" *ngIf="showDropContent">    <!--  (click)="$event.stopPropagation()"-->

    <h3>Filter (WIP)</h3>

    <!-- Content for FILTER -->
    <div style="overflow: visible;">
        <div class="filter-wrapper">
            <div class="filter-item-wrapper" *ngFor="let condition of filterConditions, let i = index">

                <div class="filter-item-operator label" *ngIf="i === 0">Where</div>

                <app-filter-data-dropdown style="overflow: visible" *ngIf="i === 1"
                    [buttonType]="'operator'"
                ></app-filter-data-dropdown>

                <div class="filter-item-operator label" *ngIf="i > 1">and</div>

                <app-filter-data-dropdown style="overflow: visible"
                    [buttonType]="'fieldname'"
                ></app-filter-data-dropdown>

                <app-filter-data-dropdown style="overflow: visible"
                    [buttonType]="'condition'"
                ></app-filter-data-dropdown>

                <div class="filter-item input">
                    <input type="text" placeholder="Input">
                </div>

                <div class="filter-item remove" (click)="removeFilter($event, condition.index)">
                    <span class="icon-cancel-circle"></span>
                </div>

                <!-- <div style="margin-left: 12px;">{{condition.index}}</div> -->

            </div>
        </div>

        <!-- Add conditions / -group -->
        <!-- ----------------------- -->
        <div class="filter-actions">

            <button class="filter-action-button" (click)="addCondition($event)">
                <span class="icon-add"></span>
                <span>Add condition</span>
            </button>

        </div>
    </div>

</div>
