.drop-content-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
    min-width: 720px;
    border-radius: 4px;
    padding: 10px 12px;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px 0px rgba(44, 80, 103, 0.4);
    overflow: visible;

    .filter-wrapper {
        overflow: visible;

        .filter-item-wrapper {
            // background-color: rgb(255, 255, 150);
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 2px 0px;
            margin-bottom: 4px;
            height: 32px;
            overflow: visible;

            .filter-item {
                height: 100%;
                display: flex;
                align-items: center;
            }

            .filter-item.label {
                width: 80px;
                margin-right: 12px;
            }

            .filter-item.name,.filter-item.condition,.filter-item.value {
                width: 180px;
            }

            .filter-item.value {
                margin-right: 12px;
            }

            .filter-item.remove {
                margin-right: 12px;
            }









            // .filter-label {
            //     width: 80px;
            //     margin-right: 12px;
            // }

            // [class*="icon-"] {
            //     color: rgb(114, 114, 114);
            // }

            // [class*="icon-cancel-"]:hover {
            //     color: red;
            // }

            // .filter.input {
            //     border: 1px solid rgb(200, 200, 200);
            //     height: 27px;
            //     margin-top: 2px;
            // }
        }
    }

    .filter-actions {
        margin-top: 8px;
        // margin-left: 84px;
        display: flex;

        .filter-action-button {
            display: flex;
        }

        button {
            background-color: transparent;
            border: 1px solid transparent;
            // border: 1px solid rgb(225, 225, 225);
            // padding: 4px 6px;
            margin: 4px 0px;
            margin-right: 8px;
            border-radius: 4px;

            span {
                color: #afafaf;
                font-size: .9em;
            }

            span.icon-add {
                position: relative;
                top: 2px;
                margin-right: 2px;
            }
        }



        button:hover span {
            color: #727272;
            cursor: pointer;
        }
    }
}
