.drop-button {
    // background-color: orange;
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    height: 100%;
    overflow: visible;

    .condition-drop-button {
        // background-color: lime;
        display: flex;
        align-items: center;

        button {
            background-color: transparent;
            border: transparent;
            min-width: 150px;
            text-align: left;
            outline: transparent;
        }

        button.label {
            min-width: 32px;
        }
    }

    .condition-drop-content-container {
        background-color: white;
        position: absolute;
        top: 28px;
        left: -1px;
        width: max-content;
        min-width: 180px;
        padding: 4px 8px;
        border-radius: 4px;
        z-index: 100;
        display: none;
    }
}

.condition-dropdown:hover {
    cursor: pointer;

    button:hover {
        cursor: pointer;
    }
}
