<!-- Design > Looks a little bit like a normal button but it have the dropdown-arrow on the right and the Value on the left -->
<!-- ---------------------------------------------------------------------------------------------------------------------- -->
<div id="id-drop-button" class="drop-button" >    <!-- *ngIf="buttonValue === 'test'"-->

    <div class="condition-drop-button">
        <!-- <div class="icon-grid" style="margin-right: 6px;"></div> -->
        <button class="name">
            test
        </button>
        <div class="icon-arrow-drop-down"></div>
    </div>

</div>
