<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="nav-test" id="navbarDropdownMenuLink" role="button"
                    data-mdb-toggle="dropdown" aria-expanded="false">
                    Dropdown link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="nav-test">Action</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="nav-test">Another action</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="nav-test">
                            Submenu &raquo;
                        </a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li>
                                <a class="dropdown-item" href="nav-test">Submenu item 1</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="nav-test">Submenu item 2</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="nav-test">Submenu item 3 &raquo;</a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <li>
                                        <a class="dropdown-item" href="nav-test">Multi level 1</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="nav-test">Multi level 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="nav-test">Submenu item 4</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="nav-test">Submenu item 5</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav> -->

<nav>
    <h3 style="margin: 1px 0 0 6px;">WIP</h3>

    <ul class="drop-button" style="margin-left: 6px;">
        <label for="">Dashboard</label>
    </ul>

    <ul class="drop-button">
        <label for="">Workspace</label>
        <ul class="drop-menu-container">
            <li>test</li>
            <li>test</li>
            <li>test</li>
        </ul>
    </ul>

    <!-- <div style="background-color: blue;"> -->
        <ul class="drop-button">

            <label for="">Admininstration</label>

            <ul class="drop-menu-container">
                <li>Mitarbeiterverwaltung
                    <ul class="drop-sub-menu-container">
                        <li>Mitarbeiter</li>
                        <li>Teams</li>
                        <li>Rechte & Rollen</li>
                    </ul>
                </li>

                <li>Informationsmanagement
                    <ul class="drop-sub-menu-container">
                        <li>Statische Seiten</li>
                        <li>Wikiseiten</li>
                        <li>Hinweise</li>
                        <li>Textbausteine</li>
                        <li>System-Mails</li>
                        <li>Changelogs</li>
                        <li>E-Mail Anhänge</li>
                    </ul>
                </li>

                <li>Systemverwaltung
                    <ul class="drop-sub-menu-container">
                        <li>Mandanten</li>
                        <li>Übersetzung</li>
                        <li>Mandanten-Konfigurationen</li>
                        <li>Margenmodelle</li>
                        <li>Merkmale</li>
                        <li>Unternehmensbranchen</li>
                        <li>Leistungsbereiche</li>
                        <li>Art der Arbeit</li>
                        <li>Property Mappings</li>
                        <li>Potentiale</li>
                        <li>PDF-Layouts</li>
                        <li>Angebotsablehnungsgrund</li>
                        <li>Fachrichtung Jobmenü</li>
                        <li>Kategorie</li>
                        <li>Agenturen</li>
                        <li>Tracking Share Link</li>
                        <li>Uploads</li>
                    </ul>
                </li>

                <li>System-Monitoring
                    <ul class="drop-sub-menu-container">
                        <li>ElasticSearch</li>
                        <li>Posting-Access</li>
                        <li>Einstellungen</li>
                        <li>Status-Changer</li>
                        <li>Migration-Status</li>
                        <li>Audit-Log</li>
                        <li>E-Mails</li>
                        <li>Cron Jobs</li>
                        <li>Elestic Reindex Data</li>
                    </ul>
                </li>
            </ul>

        </ul>
    <!-- </div> -->


    <ul class="drop-button">
        <label for="">Placeholder</label>
    </ul>

</nav>




