<div class="quicklink-header">

    <span>My Quicklinks</span><br>
    <input type="text" placeholder="Searching..." [(ngModel)]="searchTerm">

</div>

<div class="quicklink-items-wrapper example-list" cdkDropList
    (cdkDropListDropped)="moveDropdown($event)">

    <div class="quicklink-item-container example-box"
        *ngFor="let item of filteredQuicklinks; index as i" cdkDrag>

        <div class="quicklink-drag" cdkDragHandle>
            <span class="icon-fullscreen"></span>
        </div>

        <div class="quicklink-value" (click)="openQuicklink(item)">
            <span>{{item}}</span>
        </div>

        <div class="quicklink-more" (click)="openContext(item)">
            <span class="icon-more-vert"></span>
        </div>

    </div>

</div>
