.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 gleich breite Spalten */
    grid-gap: 10px; /* Optionaler Abstand zwischen den Elementen */
    width: 100%; /* Optional: Stellt sicher, dass der Container die volle Breite einnimmt */

    .item-container {
        background-color: rgba(255, 255, 255, .80);
        box-shadow: -1px -1px 8px -4px rgba(0,0,0,0.8) inset;
        width: 100%;
        height: 200px;
        border-radius: 6px;
        padding: 10px;
        border: 1px solid #ccc; /* Optional: Styling für die Items */
        border-bottom: 3px solid #bac6cd;
    }

    .item-container:hover {
        background-color: rgba(255, 255, 255, .96);
        box-shadow: -1px -1px 8px -4px rgba(0, 0, 0, 1) inset;
        border-bottom: 3px solid rgb(119, 163, 119);
        border-bottom: 3px solid #869ba8;
        cursor: pointer;
    }

    .item-container.selected {
        background-color: lime;
    }

}
