.drop-content-container-nested {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    min-width: 240px;
    border-radius: 4px;
    padding: 10px 12px;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px 0px rgba(44, 80, 103, 0.4);
    overflow: visible;
}
