<!-- OUTER Dropdown (Frame) -->
<div class="dropdown" (document:click)="closeDropdown($event)">

    <!-- INNER Dropdown (Button) -->
    <div id="id-drop-button" class="drop-button" (click)="onClickItem($event)"
        [ngClass]="{
            'filter-button': buttonText === 'Filter',
            'sort-button': buttonText === 'Sort',
            'group-button': buttonText === 'Group',
            'active': showDropContent
        }">

        <div class="icon-filter" *ngIf="buttonText == 'Filter'"></div>
        <div class="icon-sort" *ngIf="buttonText == 'Sort'"></div>
        <div class="icon-drawer" *ngIf="buttonText == 'Group'"></div>

        <p style="margin-right: 2px">{{ buttonText }}</p>
    </div>

    <!-- INNER Dropdown (Content) -->
    <div class="drop-content-container" *ngIf="showDropContent">
        <ng-content></ng-content>

        <!-- Content for FILTER -->
        <div *ngIf="dropdownId === 'filter'" style="overflow: visible;">
            <div class="option-wrapper filter">
                <div class="filter-item-wrapper" *ngFor="let condition of filterConditions">

                    <!-- Label for the first condition -->
                    <!-- ----------------------------- -->
                    <div class="label" style="border: transparent" *ngIf="condition.index === 0">{{condition.label}}</div>

                    <!-- Label for all other conditions -->
                    <!-- ------------------------------ -->
                    <div class="condition-dropdown label" *ngIf="condition.index > 0">
                        <div class="condition-drop-button" (click)="onClickItem($event)">
                            <button class="label">
                                {{condition.label}}
                            </button>
                            <div class="icon-arrow-drop-down"></div>
                        </div>
                        <div class="condition-drop-content-container" style="position: absolute;">
                            <div>
                                And
                            </div>
                            <div>
                                Or
                            </div>
                        </div>
                    </div>

                    <!-- Filter by field-name -->
                    <!-- -------------------- -->
                    <div class="condition-dropdown name">
                        <div class="condition-drop-button">
                            <button class="name" (click)="openSelect('field')">
                                {{condition.name}}
                            </button>
                            <div class="icon-arrow-drop-down"></div>
                        </div>
                        <div class="condition-drop-content-container">
                            <div>
                                Name
                            </div>
                            <div>
                                Category
                            </div>
                            <div>
                                Size
                            </div>
                        </div>
                    </div>

                    <!-- Filter by condition (contains, exactly etc.) -->
                    <!-- -------------------------------------------- -->
                    <div class="condition-dropdown select">
                        <div class="condition-drop-button">
                            <button class="condition" (click)="openSelect('operator')">
                                {{condition.condition}}
                            </button>
                            <div class="icon-arrow-drop-down"></div>
                        </div>
                        <div class="condition-drop-content-container">
                            <div>
                                Contains
                            </div>
                            <div>
                                Contains not
                            </div>
                            <div>
                                Exactly
                            </div>
                            <div>
                                Any of
                            </div>
                        </div>
                    </div>

                    <!-- Filter by value -->
                    <!-- --------------- -->
                    <input type="text" placeholder="" value="{{condition.value}}"/>

                    <!-- Remove filter-condition -->
                    <!-- ----------------------- -->
                    <div class="icon-cancel-circle" (click)="removeCondition($event, condition.index)" *ngIf="condition.index > 0"></div>



                    <!-- ONLY FOR TESTING -->
                    <!-- ---------------- -->
                    <div style="display: flex; width: 26px" *ngIf="condition.index > 0">
                        <span style="width: 100%; text-align: end;">{{condition.index}}</span>
                    </div>

                </div>
            </div>

            <!-- Add conditions / -group -->
            <!-- ----------------------- -->
            <div class="filter-actions">

                <button class="filter-action-button" (click)="addCondition($event)">
                    <span class="icon-add"></span>
                    <span>Add condition</span>
                </button>

                <button class="filter-action-button" (click)="addConditionGroup()">
                    <span class="icon-add"></span>
                    <span>Add condition group</span>
                </button>

            </div>
        </div>

        <!-- Content for SORT -->
        <div *ngIf="dropdownId === 'sort'" (click)="addCondition($event)">
            sort options
        </div>

        <!-- Content for GROUP -->
        <div *ngIf="dropdownId === 'group'">
            group options
        </div>
    </div>
</div>
