.nested-dropdown {
    background-color: lime;
    display: inline-block;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    margin-top: 3px;
    height: 100%;
}

.nested-dropdown:hover {
    background-color: lightblue;
}
