.dropdown {
    // background-color: yellow;
    display: inline-block;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    margin-top: 3px;

    .drop-button {
        background-color: rgb(225, 225, 225);
        border: 1px solid #b9b9b9;
        position: relative;
        border-radius: 4px;
        padding: 3px 6px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 28px; /* Beispielhöhe */
        margin-bottom: 4px;

        &.filter-button.active {
            background-color: #ffcccc; /* Rot für Filter wenn aktiv */
        }

        &.sort-button.active {
            background-color: #ccffcc; /* Grün für Sort wenn aktiv */
        }

        &.group-button.active {
            background-color: #ccccff; /* Blau für Group wenn aktiv */
        }

        &:hover {
            background-color: #d3d3d3; /* Hellgrau bei Hover */
            cursor: pointer;
        }

        div {
            margin-right: 4px;
            font-size: 1.2em
        }

        .icon-sort {
            position: relative;
            top: -1px;
        }

        .icon-drawer {
            position: relative;
            top: -3px;
        }
    }

    .drop-button:hover {
        cursor: pointer;
    }

    .drop-content-container {
        // background-color: orange;
        background-color: rgb(255, 255, 255);
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 1000;
        min-width: 400px;
        border-radius: 4px;
        border: 1px solid rgba(44, 80, 103, 0.18);
        padding: 8px 12px;
        box-sizing: border-box;
        box-shadow: 0px 4px 8px 2px rgba(44, 80, 103, 0.4);

        // .drop-content-items-container {
        //     background-color: lightsalmon;
        //     min-width: 400px;
        //     padding: 8px 12px;
        //     box-sizing: border-box;

        //     .drop-item-wrapper {
        //         padding: 8px 12px;
        //         display: flex;
        //         align-items: center;
        //         justify-content: space-between;

        //         div {
        //             margin-right: 4px;
        //         }
        //     }

        //     .drop-item-wrapper:hover {
        //         // Hintergrundfarbe für Hover-Effekt hier festlegen
        //     }
        // }

        .filter-condition {
            background-color: lime;
            display: flex;
            flex-direction: row;
            align-items: center;
        }




    }
}

.dropdown:hover .drop-content-container {
    display: block;
    cursor: pointer;
}
