<div class="dropdown" (document:click)="closeDropdown($event)">
    <div id="id-drop-button" class="drop-button" (click)="onClickItem($event)"
        [ngClass]="{
            'filter-button': buttonText === 'Filter',
            'sort-button': buttonText === 'Sort',
            'group-button': buttonText === 'Group',
            'active': showDropContent
        }"
    >
        <div class="icon-filter" *ngIf="buttonText == 'Filter'"></div>
        <div class="icon-sort" *ngIf="buttonText == 'Sort'"></div>
        <div class="icon-drawer" *ngIf="buttonText == 'Group'"></div>

        <p style="margin-right: 2px">{{ buttonText }}</p>
    </div>

    <div class="drop-content-container" *ngIf="showDropContent">
        <ng-content></ng-content>

        <!-- FILTER -->
        <!-- ------ -->
        <div *ngIf="dropdownId === 'filter'">
            <div class="option-wrapper filter">
                <div class="filter-item-wrapper" *ngFor="let item of filterCondition">
                    <div class="label">{{item.label}}</div>

                    <div class="condition-item name">
                        <button class="name" (click)="openSelect('field')">
                            {{item.name}}
                        </button>
                        <div class="icon-arrow-drop-down"></div>
                    </div>

                    <div class="condition-item select">
                        <button class="condition" (click)="openSelect('operator')">
                            contains
                        </button>
                        <div class="icon-arrow-drop-down"></div>
                    </div>

                    <input type="text" placeholder="" [(ngModel)]="filterValue"/>

                    <div class="icon-cancel-circle"></div>
                </div>
            </div>

            <!-- Add conditions / -group -->
            <!-- ----------------------- -->
            <div class="filter-actions">

                <button class="filter-action-button" (click)="addCondition()">
                    <div class="icon-add"></div>
                    <span>Add condition</span>
                </button>

                <button class="filter-action-button" (click)="addConditionGroup()">
                    <div class="icon-add"></div>
                    <span>Add condition group</span>
                </button>

            </div>
        </div>

        <!-- SORT -->
        <!-- ----- -->
        <div *ngIf="dropdownId === 'sort'">sort options</div>

        <!-- GROUP -->
        <!-- ----- -->
        <div *ngIf="dropdownId === 'group'">group options</div>
    </div>
</div>
