.dropdown {
    background-color: yellow;
    display: inline-block;
    position: relative;
    overflow: visible;
    // margin-top: 4px;

    .drop-button {
        // background-color: lime;
        // background-color: rgb(225, 225, 225);
        border: 1px solid #b9b9b9;
        position: relative;
        border-radius: 4px;
        padding: 3px 6px;
        display: flex;
        align-items: center;
        // margin-bottom: 4px;

        div {
            margin-right: 4px;
        }
    }

    .drop-button:hover {
        // top: 2px;
        cursor: pointer;
    }

    .drop-content-container {
        // background-color: orange;
        display: none;

        .drop-content-items-container {
            // background-color: lightsalmon;
            // background-color: rgb(225, 225, 225);
            position: absolute;
            right: 0;
            top: 100%;
            z-index: 1000;
            min-width: 200px;
            border-radius: 4px;
            border: 1px solid rgba(44, 80, 103, 0.18);
            min-width: 400px;
            padding: 8px 12px;


            .drop-item-wrapper {
                // background-color: lime;
                padding: 8px 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    margin-right: 4px;
                }
            }

            .drop-item-wrapper:hover {
                // background-color: blue;
                // background-color: rgba(0, 0, 0, .12);
            }
        }
    }
}

.dropdown:hover {
    // top: 2px;
}

.dropdown:hover .drop-content-container {
    display: block;
    cursor: pointer;
}
