<!-- INNER Dropdown (Content) -->
<div id="test" class="drop-content-container" *ngIf="showDropdown" (click)="$event.stopPropagation()">

    <h3>Filter</h3>

    <!-- Content for FILTER -->
    <div style="overflow: visible;">
        <div class="filter-wrapper">
            <div class="filter-item-wrapper" *ngFor="let condition of filterConditions, let i = index">

                <!-- todo -->
                <!-- Label for the first condition -->
                <!-- ----------------------------- -->
                <div class="filter label" *ngIf="i === 0">
                    <p>Where</p>
                </div>

                <!-- Label for all other conditions -->
                <!-- ------------------------------ -->
                <app-nested-dropdown id="view-option-filter-label" *ngIf="i > 0"
                    [buttonCategorie] = "'filter-label'"

                ></app-nested-dropdown>


                <!-- <app-dropdown id="view-option-filter" style="overflow: visible; position: relative"
                    [buttonValue]="'filter'"
                    [buttonIcon]="'icon-filter'"
                    [contentOption]="'object-filter'"
                    (click)="onClickDropdownButton($event)"
                ></app-dropdown> -->


                <!-- Filter by field-name -->
                <!-- -------------------- -->
                <app-nested-dropdown class="filter button name"></app-nested-dropdown>

                <!-- Filter by condition (contains, exactly etc.) -->
                <!-- -------------------------------------------- -->
                <app-nested-dropdown class="filter button condition"></app-nested-dropdown>

                <!-- Filter by value -->
                <!-- --------------- -->
                <input class="filter input" type="text" placeholder="" value="test"/>

                <!-- Remove filter-condition -->
                <!-- ----------------------- -->
                <div class="icon-cancel-circle" (click)="removeCondition($event, condition.index)"></div>

                <!-- ONLY FOR TESTING -->
                <!-- ---------------- -->
                <div style="display: flex; width: 26px">
                    <span style="width: 100%; text-align: end;">{{condition.index}}</span>
                </div>

            </div>
        </div>

        <!-- Add conditions / -group -->
        <!-- ----------------------- -->
        <div class="filter-actions">

            <button class="filter-action-button" (click)="addCondition($event)">
                <span class="icon-add"></span>
                <span>Add condition</span>
            </button>

        </div>
    </div>

</div>
