<!-- INNER Dropdown (Content) -->
<div class="drop-content-container" *ngIf="showDropdown">

    <!-- Content for FILTER -->
    <div style="overflow: visible;">
        <div class="option-wrapper filter">
            <div class="filter-item-wrapper" *ngFor="let condition of filterConditions">

                <!-- Label for the first condition -->
                <!-- ----------------------------- -->
                <div class="label" style="border: transparent" *ngIf="condition.index === 0">Where</div>

                <!-- Label for all other conditions -->
                <!-- ------------------------------ -->
                <div class="condition-dropdown label" *ngIf="condition.index > 0">
                    <div class="condition-drop-button">
                        <button class="label">
                            test
                        </button>
                        <div class="icon-arrow-drop-down"></div>
                    </div>
                    <div class="condition-drop-content-container" style="position: absolute;">
                        <div>
                            and
                        </div>
                        <div>
                            or
                        </div>
                    </div>
                </div>

                <!-- Filter by field-name -->
                <!-- -------------------- -->
                <div class="condition-dropdown name">
                    <div class="condition-drop-button">
                        <button class="name">
                            test
                        </button>
                        <div class="icon-arrow-drop-down"></div>
                    </div>
                    <div class="condition-drop-content-container">
                        <div>
                            Name
                        </div>
                        <div>
                            Category
                        </div>
                        <div>
                            Size
                        </div>
                    </div>
                </div>

                <!-- Filter by condition (contains, exactly etc.) -->
                <!-- -------------------------------------------- -->
                <div class="condition-dropdown select">
                    <div class="condition-drop-button">
                        <button class="condition">
                            test
                        </button>
                        <div class="icon-arrow-drop-down"></div>
                    </div>
                    <div class="condition-drop-content-container">
                        <div>
                            Contains
                        </div>
                        <div>
                            Contains not
                        </div>
                        <div>
                            Exactly
                        </div>
                        <div>
                            Any of
                        </div>
                    </div>
                </div>

                <!-- Filter by value -->
                <!-- --------------- -->
                <input type="text" placeholder="" value="test"/>

                <!-- Remove filter-condition -->
                <!-- ----------------------- -->
                <div class="icon-cancel-circle" *ngIf="condition.index > 0" (click)="removeCondition($event, condition.index)"></div>

                <!-- ONLY FOR TESTING -->
                <!-- ---------------- -->
                <div style="display: flex; width: 26px" *ngIf="condition.index > 0">
                    <span style="width: 100%; text-align: end;">{{condition.index}}</span>
                </div>

            </div>
        </div>

        <!-- Add conditions / -group -->
        <!-- ----------------------- -->
        <div class="filter-actions">

            <button class="filter-action-button" (click)="addCondition($event)">
                <span class="icon-add"></span>
                <span>Add condition</span>
            </button>

            <button class="filter-action-button">
                <span class="icon-add"></span>
                <span>Add condition group</span>
            </button>

        </div>
    </div>

</div>
