.drop-content-container {
    // background-color: orange;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
    min-width: 720px;
    border-radius: 4px;
    padding: 10px 12px;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px 0px rgba(44, 80, 103, 0.4);
    overflow: visible;

    .filter-wrapper {
        overflow: visible;

        .filter-item-wrapper {
            background-color: lime;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 2px 0px;
            margin-bottom: 0px;
            height: 32px;
            overflow: visible;
        }
    }

    .filter-actions {
        // background-color: lime;
        margin-top: 8px;
        margin-left: 72px;
        display: flex;

        .filter-action-button {
            display: flex;
        }

        button {
            background-color: transparent;
            border: 1px solid rgb(200, 200, 200);
            border: transparent;
            padding: 4px 8px;
            margin-right: 8px;
            border-radius: 4px;

            span {
                color: #afafaf;
                font-size: .9em;
            }

            span.icon-add {
                position: relative;
                top: 2px;
            }
        }

        button:hover span {
            color: #353535;
            cursor: pointer;
        }
    }
}
