<!-- INNER Dropdown (Content) -->
<div id="test" class="drop-content-container">

    <h3>Filter</h3>

    <!-- Content for FILTER -->
    <div style="overflow: visible;">
        <div class="filter-wrapper">
            <div class="filter-item-wrapper">

                <!-- todo -->
                <!-- Label for the first condition -->
                <!-- ----------------------------- -->
                <div class="filter label">
                    <p>Where</p>
                </div>



                <!-- Filter by value -->
                <!-- --------------- -->
                <input class="filter input" type="text" placeholder="" value="test"/>

                <!-- Remove filter-condition -->
                <!-- ----------------------- -->
                <div class="icon-cancel-circle"></div>

                <!-- ONLY FOR TESTING -->
                <!-- ---------------- -->
                <div style="display: flex; width: 26px">
                    <span style="width: 100%; text-align: end;"></span>
                </div>

            </div>
        </div>

        <!-- Add conditions / -group -->
        <!-- ----------------------- -->
        <div class="filter-actions">

            <button class="filter-action-button">
                <span class="icon-add"></span>
                <span>Add condition</span>
            </button>

        </div>
    </div>

</div>
