
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test-app-02-primary: mat.define-palette(mat.$indigo-palette);
$test-app-02-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-app-02-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$test-app-02-theme: mat.define-light-theme((
  color: (
    primary: $test-app-02-primary,
    accent: $test-app-02-accent,
    warn: $test-app-02-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($test-app-02-theme);

// Import Font from IcoMoon
// ************************
@import './assets/fonts/style.css';



// GLOBAL VARIABLES
// ################

:root {
    //  ##  COLORING  ##
    //  ################
    --background-color: #edf0f5;
    --primary-highlight-color: #2c5067;  // rgb(44, 80, 103)
    --secondary-highlight-color: #e2e7eb;  // rgb(44, 80, 103)
    --primary-font-color: #4f4f4f;
    --font-color-locked: #b3b3b3;
    --navigation-item-background: var(--primary-highlight-color);
    --navigation-item-hover: #4e738a;

    --scrolbar-color: rgba(44, 80, 103, 0.28);  // #C4CED4
    --scrolbar-bg-color: white;

    //  ##  SIZING  ##
    //  ##############
    --primary-sizing-factor: 42px;
    --width-100: 100vw;
    --height-100: 100vh;

    --header-height: var(--primary-sizing-factor);
    --header-width: var(--width-100);

    --main-height: calc(var(--height-100) - var(--header-height));

    --navigation-width: var(--primary-sizing-factor);
    --quicklinks-width: calc(188px + var(--navigation-width));

    --additional-info-width: calc(var(--quicklinks-width) - var(--navigation-width));

    --dropdown-button-padding: 0px 8px;
}



// GLOBAL TAGS
// ###########

* {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: var(--primary-font-color);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

html { height: 100%; }

body {
    background-color: var(--background-color);
    height: 100%;
}

h1 {
    font-size: 1.4em;
    margin-bottom: 12px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1em;
    margin-bottom: 6px;
}

h4 {
    font-size: .8em;
    margin-bottom: 4px;
}

img.menu-item {
    width: 24px;
}

input {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(109, 109, 109);
}



// Specialy for Scrollbar
// ######################

/* width */
::-webkit-scrollbar {
    width: 4px;
    z-index: 1;
}

::-webkit-scrollbar-button {
    // background-color: blue;
    // width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: lime;
    background-color: rgba(44, 80, 103, .2);
    box-shadow: inset 0 0 4px #d6d6d6;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #95a0a1;
    background: rgba(44, 80, 103, .3);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2c5067;
    background: rgba(44, 80, 103, .6);
}

