<div class="menu-container">

    <div class="menu-wrapper">

        <!-- HEADER LEFT -->
        <!-- *********** -->
        <div class="menu-wrapper left">

            <!-- Logo -->
            <div class="header-item-container-1 logo">
                <img src="../../assets/images/logo-design-49570.png" alt="">
            </div>

            <div class="header-item-container-green" *ngFor="let menuItem of menuItems, index">
                <div class="header-item-container-white" [ngClass]="menuItem.status">
                    <div class="header-item-button">
                        <span>
                            {{menuItem.name}}
                        </span>
                    </div>
                </div>
            </div>



        </div>



        <!-- HEADER RIGHT -->
        <!-- ************ -->
        <div class="menu-wrapper right">
            WIP
        </div>

    </div>

</div>
