// MAIN-MENU
// *********
.menu-container {
    background-color: white;
    height: 100%;
    overflow: visible;

    div {
        display: flex;
        align-items: center;
    }

    .menu-wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        overflow: visible;
    }

    .menu-wrapper.left {
        display: flex;
        align-items: center;

        // SPECIAL CONTAINER LOGO
        // ----------------------
        .logo {
            background-color: white;
            height: 100%;
            width: max-content;
            padding: 0 12px;

            img {
                height: 32px;
            }
        }

        // Background-Container GREEN
        // --------------------------
        .header-item-container-green {
            background-color: lime;
            background-color: #527083;
            height: 44px;
            // margin: 0 4px;
            position: relative;
            top: 4px;
            align-items: start;
            border-radius: 6px 6px 0 0;
            overflow: visible;

            .header-item-container-white {
                background-color: orange;
                background-color: white;
                height: 100%;
                align-items: start;
                padding: 0 4px;

                .header-item-button {
                    background-color: yellow;
                    background-color: rgba(44, 80, 103, 0.2);
                    border: 1px solid rgba(44, 80, 103, 0.12);
                    position: relative;
                    height: 36px;
                    border-radius: 6px;
                    padding: 0 8px;
                }
            }

            .header-item-container-white.pre-active {
                border-radius: 0 0 6px 0;
                padding-right: 8px;
            }

            .header-item-container-white.active {
                background-color: transparent;

                .header-item-button {
                    background-color: transparent;

                    span {
                        color: white;
                    }
                }
            }

            .header-item-container-white.post-active {
                border-radius: 0 0 0 6px;
                padding-left: 8px;
            }



        }





        .header-item-bg-Container-green {

        }




    }




    .menu-wrapper.right {
        justify-self: right;
        display: flex;
        align-items: center;
        margin-right: 12px;
    }

}
