<!-- OUTER Dropdown (Filter) -->
<div class="dropdown">

    <!-- Drop-Button -->
    <app-drop-button [buttonKeyValue]="buttonKeyValue" [buttonIcon]="buttonIcon"></app-drop-button>

    <!-- Drop-Content -->
    <app-drop-content-object-filter *ngIf="contentType === 'object-filter' && openedDropdown === 'object-filter'"></app-drop-content-object-filter>
    <app-drop-content-object-sort *ngIf="contentType === 'object-sort' && openedDropdown === 'object-sort'"></app-drop-content-object-sort>
    <app-drop-content-object-group *ngIf="contentType === 'object-group' && openedDropdown === 'object-group'"></app-drop-content-object-group>

</div>
