<!-- OUTER Dropdown (Filter) -->
<div class="dropdown">

    <!-- Drop-Button -->
    <app-drop-button [buttonValue]="buttonValue" [buttonIcon]="buttonIcon"></app-drop-button>

    <!-- Drop-Content -->
    <app-drop-content-object-filter *ngIf="contentOption === 'object-filter'"></app-drop-content-object-filter>
    <app-drop-content-object-sort *ngIf="contentOption === 'object-sort'"></app-drop-content-object-sort>
    <app-drop-content-object-group *ngIf="contentOption === 'object-group'"></app-drop-content-object-group>

</div>
