// ADD INFO - HEADER
// *****************
.add-info-header {
    background-color: #d6d6d6;
    background-color: white;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, .20);
    width: 245px;
    // height: 72px;
    padding: 8px 8px;
    border-radius: 0 0 2px 2px;
    position: fixed;
    z-index: 1;

    span {
        color: #707070;
        padding-left: 4px;
        font-size: 1.1em;
    }

}
