<!-- Page-Structure -->
<!-- ************** -->

<div class="page-structure">

    <!-- Header -->
    <!-- ****** -->
    <header class="page-header-container" style="overflow: visible;">
        <app-header-menu (selectedMenuItem)="onSelectMenuItem($event)"></app-header-menu>
    </header>

    <!-- Main-Content -->
    <!-- ************ -->
    <main class="page-content-container">

        <div class="content-title-container">

            <!-- Button toggle Quicklinks -->
            <!-- ------------------------ -->
            <button class="content-title-quicklinks" (click)="toggleQuicklinkVisibility()">Quicklinks</button>

            <!-- Menuname -->
            <!-- -------- -->
            <span class="content-title-value">{{selectedValueFromMainMenu}}</span>

            <!-- Button toggle AddInfos -->
            <!-- ---------------------- -->
            <button class="content-title-addinfo" (click)="toggleAddInfoVisibility()" *ngIf="selectedValueFromMainMenu !== 'Dashboard'">Add Info</button>

        </div>

        <!-- Different Classes wether quicklinks or addInfo should be visible or not -->
        <!-- *********************************************************************** -->
        <div [ngClass]="{'content-container-full' : quicklinksVisible && addInfoVisible,
                         'content-container-without-quicklinks' : !quicklinksVisible && addInfoVisible,
                         'content-container-without-addinfo' : quicklinksVisible && !addInfoVisible,
                         'content-container-tiles-only' : !quicklinksVisible && !addInfoVisible
                        }">

            <!-- QUICKLINKS -->
            <!-- ********** -->
            <div class="quicklinks-container" *ngIf="quicklinksVisible">
                <app-quicklinks (onSelectQuicklink)="onSelectQuicklink($event)"></app-quicklinks>
            </div>

            <!-- Content -->
            <!-- ******* -->
            <!-- <div class="main-content-container"> -->
            <div [ngClass]="selectedValueFromMainMenu === 'Dashboard' ? 'main-content-container-dashboard' : 'main-content-container'">

                <!-- Content-Header -->
                <!-- ************** -->
                <div class="content-header-container" *ngIf="selectedValueFromMainMenu !== 'Dashboard'">

                    <div class="add-filter-wrapper">
                        <!-- Searching-Area -->
                        <!-- -------------- -->
                        <div class="searching-wrapper">
                            <input type="text" placeholder="Searching..." [(ngModel)]="searchTerm" (keyup)="onSearchTermChanged($event)">
                            <div class="icon-cancel" *ngIf="searchTerm != ''" (click)="removeSearchTerm()"></div>
                        </div>

                        <!-- FILTER - DROPDOWN -->
                        <!-- ----------------- -->
                        <div class="dropdown">
                            <div class="drop-button">
                                <div class="icon-filter" style="font-size: 1.2em"></div>
                                <p style="margin-right: 2px;">Filter</p>
                            </div>
                            <div class="drop-content-container">
                                <div class="drop-content-items-container">
                                    <div style="padding: 8px 12px;">
                                        WIP
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- SORTING - DROPDOWN -->
                        <!-- ------------------ -->
                        <div class="dropdown">
                            <div class="drop-button">
                                <div class="icon-sort" style="font-size: 1.2em"></div>
                                <p style="margin-right: 2px;">Sort</p>
                            </div>
                            <div class="drop-content-container">
                                <div class="drop-content-items-container">
                                    <!-- todo -->
                                    <!-- Should to get open by click and not by hover -->
                                    <div class="drop-item-wrapper" (click)="setSortingOrder('name-asc')">
                                        <p style="margin-right: 2px;">Name aufsteigend</p>
                                        <div class="icon-sort-amount-asc" style="font-size: .8em"></div>
                                    </div>
                                    <div class="drop-item-wrapper" (click)="setSortingOrder('name-desc')">
                                        <p style="margin-right: 2px;">Name absteigend</p>
                                        <div class="icon-sort-amount-desc" style="font-size: .8em"></div>
                                    </div>
                                    <div class="drop-item-wrapper" (click)="setSortingOrder('id-asc')">
                                        <p style="margin-right: 2px;">ID aufsteigend</p>
                                        <div class="icon-sort-asc" style="font-size: 1.4em"></div>
                                    </div>
                                    <div class="drop-item-wrapper" (click)="setSortingOrder('id-desc')">
                                        <p style="margin-right: 2px;">ID absteigend</p>
                                        <div class="icon-sort-desc" style="font-size: 1.4em"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="show-filter-wrapper">

                        <ng-container *ngIf="filterItems.length > 0">
                            <div class="show-filter-item-container" *ngFor="let item of filterItems">
                                <span>{{item.name}}</span>
                                <div class="icon-cancel" (click)="removeFilterItem(item.id)"></div>
                            </div>
                        </ng-container>
                        <!-- <div *ngIf="filterItems.length === 0">
                            Keine Einträge gefunden
                        </div> -->

                    </div>

                </div>

                <!-- Content -->
                <!-- ******* -->
                <div class="content-items">
                    <router-outlet></router-outlet>
                </div>

                <!-- Content-Actions -->
                <!-- *************** -->
                <div class="content-actions" *ngIf="selectedValueFromMainMenu !== 'Dashboard'">
                    Actions
                </div>

            </div>

            <!-- ADDITIONAL INFORMATION -->
            <!-- ********************** -->
            <div class="add-info-container" *ngIf="addInfoVisible">
                <app-add-info [addInfoObject]="addInfoObject"></app-add-info>
            </div>
        </div>
    </main>
</div>
