<!-- Page-Structure -->
<!-- ************** -->

<div class="page-structure">
    <!-- Header -->
    <!-- ****** -->
    <header class="page-header-container" style="overflow: visible">
        <app-header-menu (selectedMenuItem)="onSelectMenuItem($event)"></app-header-menu>
    </header>

    <!-- Main-Content -->
    <!-- ************ -->
    <main class="page-content-container">
        <div class="content-title-container">
            <!-- Button toggle Quicklinks -->
            <!-- ------------------------ -->
            <button class="content-title-quicklinks" (click)="toggleQuicklinkVisibility()">
                Quicklinks
            </button>

            <!-- Menuname -->
            <!-- -------- -->
            <span class="content-title-value">
                {{selectedValueFromMainMenu}}
            </span>

            <!-- Button toggle AddInfos -->
            <!-- ---------------------- -->
            <button class="content-title-addinfo" (click)="toggleAddInfoVisibility()" *ngIf="selectedValueFromMainMenu !== 'Dashboard'">
                Add Info
            </button>
        </div>

        <!-- Different Classes wether quicklinks or addInfo should be visible or not -->
        <!-- *********************************************************************** -->
        <div [ngClass]="{
                'content-container-full': quicklinksVisible && addInfoVisible,
                'content-container-without-quicklinks':
                    !quicklinksVisible && addInfoVisible,
                'content-container-without-addinfo':
                    quicklinksVisible && !addInfoVisible,
                'content-container-tiles-only':
                    !quicklinksVisible && !addInfoVisible
            }"
        >
            <!-- QUICKLINKS -->
            <!-- ********** -->
            <div class="quicklinks-container" *ngIf="quicklinksVisible">
                <app-quicklinks (onSelectQuicklink)="onSelectQuicklink($event)"></app-quicklinks>
            </div>

            <!-- Content -->
            <!-- ******* -->
            <!-- <div class="main-content-container"> -->
            <div [ngClass]="selectedValueFromMainMenu === 'Dashboard' ? 'main-content-container-dashboard' : 'main-content-container'"
            >
                <!-- Content-Header -->
                <!-- ************** -->
                <div class="content-header-container" *ngIf="selectedValueFromMainMenu !== 'Dashboard'">
                    <div class="add-filter-wrapper" style="overflow: visible">
                        <!-- Searching-Area -->
                        <!-- -------------- -->
                        <div class="searching-wrapper">
                            <input type="text" placeholder="Searching..." [(ngModel)]="searchTerm" (keyup)="onSearchTermChanged($event)"/>
                            <div class="icon-cancel" *ngIf="searchTerm != ''" (click)="removeSearchTerm()"></div>
                        </div>

                        <!-- DROPDOWN - Component - TEST -->
                        <!-- --------------------------- -->
                        <!-- TEST - 1 -->
                        <!-- <app-dropdown-1 [buttonText]="'Filter'" [dropdownId]="'filter'" style="overflow: visible; position: relative">
                            <p>Filter by (Alte Version, wird ausgetauscht...)</p>
                            <br />
                        </app-dropdown-1> -->

                        <!-- TEST - 2 -->
                        <!-- <app-dropdown id="view-option-filter" style="overflow: visible; position: relative"
                            [buttonValue]="'filter'"
                            [buttonIcon]="'icon-filter'"
                            [contentOption]="'object-filter'"
                            (click)="onClickDropdownButton($event)"
                        ></app-dropdown>

                        <app-dropdown id="view-option-sort" style="overflow: visible; position: relative"
                            [buttonValue]="'sort'"
                            [buttonIcon]="'icon-sort'"
                            [contentOption]="'object-sort'"
                            (click)="onClickDropdownButton($event)"
                        ></app-dropdown>

                        <app-dropdown id="view-option-group" style="overflow: visible; position: relative"
                            [buttonValue]="'group'"
                            [buttonIcon]="'icon-drawer'"
                            [contentOption]="'object-group'"
                            (click)="onClickDropdownButton($event)"
                        ></app-dropdown> -->

                        <!-- TEST - 3 -->
                        <app-tile-view-dropdown
                            [buttonValue]="'filter'"
                            [buttonIcon]="'icon-filter'"
                            [contentOption]="'object-filter'"
                        ></app-tile-view-dropdown>

                        <app-tile-view-dropdown
                            [buttonValue]="'sort'"
                            [buttonIcon]="'icon-sort'"
                            [contentOption]="'object-sort'"
                        ></app-tile-view-dropdown>

                        <app-tile-view-dropdown
                            [buttonValue]="'group'"
                            [buttonIcon]="'icon-drawer'"
                            [contentOption]="'object-group'"
                        ></app-tile-view-dropdown>


                    </div>

                    <!-- Filter-Elements when exists -->
                    <!-- --------------------------- -->
                    <div class="show-filter-wrapper" *ngIf="activeFilterItems.length > 0">
                        <div class="show-filter-item-container" *ngFor="let item of activeFilterItems">
                            <span>{{ item.name }}</span>
                            <div class="icon-cancel" (click)="removeFilterItem(item)"></div>
                        </div>
                    </div>
                </div>

                <!-- Content -->
                <!-- ******* -->
                <div class="content-items">
                    <router-outlet></router-outlet>
                </div>

                <!-- Content-Actions -->
                <!-- *************** -->
                <div class="content-actions" *ngIf="selectedValueFromMainMenu !== 'Dashboard'">
                    Actions
                </div>
            </div>

            <!-- ADDITIONAL INFORMATION -->
            <!-- ********************** -->
            <div class="add-info-container" *ngIf="addInfoVisible">
                <app-add-info [addInfoObject]="addInfoObject"></app-add-info>

                <!-- note -->
                <!-- Only for testing -->
                <!-- <app-dropdown style="position:absolute; top: 48px; left: 12px;"
                    [buttonValue]="'test'"
                    [buttonIcon]="'icon-grid'"
                    [contentOption]="'object-test'"
                ></app-dropdown> -->
                <!-- End for testing -->

            </div>
        </div>
    </main>
</div>
