<!-- Page-Structure -->
<!-- ************** -->

<div class="page-structure">

    <!-- Header -->
    <!-- ****** -->
    <header class="page-header-container" style="overflow: visible;">
        <app-header-menu-test *ngIf="menu2" (selectionChanged)="onMainMenuSelectionChanged($event)"></app-header-menu-test>
        <app-header-menu-test-2 *ngIf="menu3" (selectionChanged)="onMainMenuSelectionChanged($event)"></app-header-menu-test-2>
    </header>

    <!-- Main-Content -->
    <!-- ************ -->
    <main class="page-content-container">

        <div class="content-title-container">

            <!-- Button toggle Quicklinks -->
            <!-- ------------------------ -->
            <button class="content-title-quicklinks" (click)="toggleQuicklinkVisibility()">Quicklinks</button>

            <!-- Menuname -->
            <!-- -------- -->
            <span class="content-title-value" (click)="toggelMenu()">{{selectedValueFromMainMenu}}</span>

            <!-- Button toggle AddInfos -->
            <!-- ---------------------- -->
            <button class="content-title-addinfo" (click)="toggleAddInfoVisibility()">Add Info</button>

        </div>

        <!-- Different Classes wether quicklinks or addInfo should be visible or not -->
        <!-- *********************************************************************** -->
        <div [ngClass]="{'content-container-full' : quicklinksVisible && addInfoVisible,
                         'content-container-without-quicklinks' : !quicklinksVisible && addInfoVisible,
                         'content-container-without-addinfo' : quicklinksVisible && !addInfoVisible,
                         'content-container-tiles-only' : !quicklinksVisible && !addInfoVisible
                        }">

            <!-- QUICKLINKS -->
            <!-- ********** -->
            <div class="quicklinks-container" *ngIf="quicklinksVisible">
                <app-quicklinks></app-quicklinks>
            </div>

            <!-- Content -->
            <!-- ******* -->
            <div class="main-content-container">

                <!-- Content-Header -->
                <!-- ************** -->
                <div class="content-header-container">
                    <!-- Searching-Area -->
                    <!-- -------------- -->
                    <div class="searching-wrapper">
                        <input type="text" placeholder="Searching..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChanged($event)">
                        <div class="icon-cancel" *ngIf="searchTerm != ''" (click)="removeSearchTerm()"></div>
                    </div>

                    <!-- FILTER - DROPDOWN -->
                    <!-- ----------------- -->
                    <div class="dropdown">
                        <div class="drop-button">
                            <div class="icon-filter" style="font-size: 1.2em"></div>
                            <p style="margin-right: 2px;">Filter (WIP)</p>
                        </div>
                        <div class="drop-content-container">
                            <div class="drop-content-items-container">
                                <div style="padding: 8px 12px;">
                                    WIP
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SORTING - DROPDOWN -->
                    <!-- ------------------ -->
                    <div class="dropdown">
                        <div class="drop-button">
                            <div class="icon-sort" style="font-size: 1.2em"></div>
                            <p style="margin-right: 2px;">Sort (WIP)</p>
                        </div>
                        <div class="drop-content-container">
                            <div class="drop-content-items-container">
                                <div class="drop-item-wrapper">
                                    <p style="margin-right: 2px;">Sort-Option-1</p>
                                    <div class="icon-sort-amount-asc" style="font-size: .8em"></div>
                                </div>
                                <div class="drop-item-wrapper">
                                    <p style="margin-right: 2px;">Sort-Option-2</p>
                                    <div class="icon-sort-amount-desc" style="font-size: .8em"></div>
                                </div>
                                <div class="drop-item-wrapper">
                                    <p style="margin-right: 2px;">Sort-Option-3</p>
                                    <div class="icon-sort-asc" style="font-size: 1.4em"></div>
                                </div>
                                <div class="drop-item-wrapper">
                                    <p style="margin-right: 2px;">Sort-Option-4</p>
                                    <div class="icon-sort-desc" style="font-size: 1.4em"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content -->
                <!-- ******* -->
                <div class="content-items">
                    <router-outlet></router-outlet>
                </div>

                <!-- Content-Actions -->
                <!-- *************** -->
                <div class="content-actions">
                    Actions
                </div>
            </div>

            <!-- ADDITIONAL INFORMATION -->
            <!-- ********************** -->
            <div class="add-info-container" *ngIf="addInfoVisible">
                <app-add-info [addInfoObject]="addInfoObject"></app-add-info>
            </div>
        </div>
    </main>
</div>
